<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;1,100;1,200&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin="">
    </script>
  <link rel="stylesheet" href="../../public/css/style.css">
  <title>Velocity Home Page</title>
</head>

<body>

  <!-- hero / login -->
  <div class="box has-background-success-light">
    <h1 class="font is-size-1 ">Velocity</h1>
    <div id="login-container">
      <h2>Login or create an account to access saved data</h2>
      <div id="login-buttons-container">
        <a href="login.html">
        <button class="button has-background-white mx-auto my-auto font loginButton" id="loginButton">Login</button>
        </a>
        <a href="createaccount.html">
          <button class="button has-background-white mx-auto my-auto font createAccountButton">Create account</button>
        </a>
      </div>
    </div>


  </div class="mx-auto mt-1">

  <!-- Search div -->
  <!-- mx-auto centers it -->
  <div class="box columns mx-auto mt-1 searchDiv">

    <div class="field column">
      <label class="label" id="where-to">Where to? </label>
        <input class="input search-bar" type="text" placeholder="Current Location">
        <div class="lets-ride">
          <div class="button-container-div">
            <button class="button has-background-success-light searchButton" id="search-button">Let's Ride!</button>
            <button class="button has-background-success-light saveButton">Save Route</button>
            <button class="button has-background-success-light viewButton">View Saved Routes</button>
        </div>
        </div>
    </div>

  </div>

  <Section class="rowBoat">

    <div class="box columns mt-5 widgets" style="height: 550px;">
      <h2 id="mapText" class="font is-size-2 widgets">Map</h2>
      <div id="map" style="width: 100%; height: calc(92% - 30px);"></div>
    </div>

    <div class="box columns mt-5 widgets" style="height: 550px;">
      <h2 class="font is-size-2 forecastTitle" style="text-align: center;">Forecast</h2>
        <div>
        <section class="box columns mt-5 mx-auto city" ></section>
        <section class="box columns mt-5 mx-auto description"></section>
        <section class="box columns mt-5 mx-auto temp"></section>
        <section class="box columns mt-5 mx-auto humidity"></section>
        <section class="box columns mt-5 mx-auto wind"></section>
        <section class="box columns mt-5 mx-auto weather" style="display:none"></section>
        </div>
    </div>

  </section>

</body>

<script src="../../public/js/script.js"></script>

</html>

<!-- Need to work on CSS -->
<!-- Need to do click event listener -->
<!-- Need to adjust width of submit button -->