<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;1,100;1,200&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin="">
    </script>
  <link rel="stylesheet" href="../../public/css/createaccount.css">
  <title>Velocity Home Page</title>
</head>

<body class="has-background-success-light">

<!-- Inputs for new users -->
    <div class="container">
        <form class="box columns mx-auto my-auto new-user-div">
            <h2>Input full name</h2>
            <input class="input new-name-input" type="text" placeholder="Full name">
            <h2>Input username</h2>
            <input class="input new-username-input" type="text" placeholder="Username">
            <h2>Input new password</h2>
            <input class="input new-password-input" type="text" placeholder="Password">
            <h2>Verify new password</h2>
            <input class="input new-password-verification" type="text" placeholder="Password">
            <a {{!-- href="index.html" --}}>
              <button class="button has-background-success-light mx-auto mt-4 acct-submit-btn" id="acct-submit-btn">Submit</button>
            </a>
          </form>   
    </div>

<script src="../../public/js/script.js"></script>

</body>