<!-- login credentials for preexisting users -->
<div class="container">
  <div class="box columns mx-auto my-auto login-credentials-div">
    <h2>Input email</h2>
    <input class="input username-input" type="text" placeholder="email" />
    <h2>Input password</h2>
    <input
      class="input password-input"
      type="password"
      placeholder="Password"
    />
    <!-- Not sure if this is optimal, might be better
          to do the redirect in javascript -->
    <!-- <a href="index.html"> -->
    <form class="login-form mx-auto" id="login-form">
      <!-- Remove the button element and wrap the input field in a label -->
      <label for="login-submit-btn">
        <input
          type="submit"
          id="login-submit-btn"
          class="button has-background-success-light mx-auto mt-4 login-submit-btn"
          value="Submit"
        />
      </label>
      <button id="create-account-btn" class="create-account-btn button has-background-success-light mx-auto mt-4">Create account</button>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>
 